:root{
  --olive: #304D30;
  --grey : #b6c4b6;
}
body{
  background-color: #EEF0E5 ;
  font-family: "Poppins", sans-serif !important;
}
/* colors */
.bg-olive{
  background-color: var(--olive);
}
.bg-grey{
  background-color: var(--grey);
}
.nav-link{
  color: #EEF0E5 !important;
}
.text-olive{
  color: var(--olive);
}

.border-olive{
  border: 3px solid var(--olive) !important;
}
.text-white{
  color: #EEF0E5 !important;
}
.btn-close.custom-close {
  background-color: #EEF0E5; 
  opacity: 1; 
}

.btn-close.custom-close:hover,
.btn-close.custom-close:focus {
  background-color: #EEF0E5; 
}
.btn-success {
  --bs-btn-color: #EEF0E5 !important;
  --bs-btn-bg: var(--olive) !important;
  --bs-btn-border-color: var(--olive) !important;
  --bs-btn-hover-bg:  var(--olive) !important;
  --bs-btn-hover-border-color:  var(--olive) !important;
  --bs-btn-active-bg:  var(--olive) !important;
  --bs-btn-active-border-color:  var(--olive) !important;
  --bs-btn-disabled-bg: var(--olive) !important;
  --bs-btn-disabled-border-color: var(--olive) !important;
  box-shadow: 0 10px 20px -8px #304d30cc;
}
.btn-white {
  --bs-btn-color: var(--olive) !important;
  --bs-btn-bg: #EEF0E5 !important;
  --bs-btn-border-color: #EEF0E5 !important;
  --bs-btn-hover-color: var(--olive) !important;
  --bs-btn-active-color: var(--olive) !important;
  --bs-btn-disabled-color: var(--olive) !important;
  --bs-btn-disabled-bg: #EEF0E5 !important;
}
.dropdown-menu {
  --bs-dropdown-min-width: 12rem !important;
  --bs-dropdown-color:  var(--olive) !important;
  --bs-dropdown-bg: #fff !important;
  --bs-dropdown-border-color: var(--olive) !important;
  color: var(--olive) !important;
  border-radius: 10px !important;
  --bs-dropdown-link-active-bg:var(--olive) !important;
}
.table {
  --bs-table-color: none !important;
  --bs-table-bg: none !important;

}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-bg-type: #eef0e542 !important;
}
/* fonts */
.dancing-script-brand {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.custom-form {
  background-color: var(--grey);
  padding: 20px;
  border-radius: 10px;
}

.custom-btn {
  background-color: var(--olive);
  color: white;
}

.custom-btn:hover {
  background-color: darkolivegreen;
}

.form-header {
  color: var(--olive);
}
.switch-link {
  color: var(--olive);
}
.card{
  box-shadow: 0 10px 20px -8px #304d30cc;
}
.pincode-dropdwown{
  background-color: var(--olive) !important;
  color: white !important;
  border-radius: 50rem !important;
}
.pincode-dropdwown>option:hover{
  background-color: var(--grey) !important;
}